src/main/webapp/WEB-INF/tiny.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.jtthink.com">
    <xs:element name="tiny">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="bean" type="xs:string" />
                <xs:element name="file" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>